@{
    ViewData["Title"] = "Hem";
}

<div class="container">
    <div class="row margin-top parallax">
        <div class="col-md-12 ">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 center-field">
            <h2>Bli medlem idag - helt utan kostnad!</h2>
            <p>Strike är en köp och sälj sajt som är helt gratis att använda, det kostar ingenting att lägga upp annonser.</p>
            <a href="~/Users/Register">Klicka här för att bli medlem</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="glyphicon-field-styling">
                <span class="glyphicon-styling glyphicon glyphicon-piggy-bank"></span>
                <p>Spara och tjäna pengar</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="glyphicon-field-styling">
                <span class="glyphicon-styling glyphicon glyphicon-heart"></span>
                <p>Enkel att använda</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="glyphicon-field-styling">
                <span class="glyphicon-styling glyphicon glyphicon-hourglass"></span>
                <p>Gör snabba affärer</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 center-field">
            <h2>Tusentals nya annonser varje månad!</h2>
            <p>Strike har över en halv miljon användare som publicerar annonser och köper varor</p>
            <a href="~/Advertisements/Index">Klicka här för att se alla annonser</a>
        </div>
    </div>
</div>




