@{
    ViewData["Title"] = "Hem";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 presentation-text">
            <h1>STRIKE</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in egestas erat imperdiet sed. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Adipiscing elit pellentesque habitant morbi tristique. Odio tempor orci dapibus ultrices in iaculis nunc. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Egestas tellus rutrum tellus pellentesque eu. Pellentesque habitant morbi tristique senectus et netus et malesuada. Euismod elementum nisi quis eleifend quam adipiscing vitae. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Enim nunc faucibus a pellentesque sit. Neque sodales ut etiam sit amet nisl. Iaculis eu non diam phasellus vestibulum lorem sed risus. Nisl nunc mi ipsum faucibus. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Convallis posuere morbi leo urna molestie at elementum eu.

                Et netus et malesuada fames ac. Placerat in egestas erat imperdiet sed euismod nisi porta lorem. Elementum sagittis vitae et leo duis. Adipiscing commodo elit at imperdiet. Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla. Luctus accumsan tortor posuere ac ut. Mattis rhoncus urna neque viverra. Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Vel risus commodo viverra maecenas accumsan. Ullamcorper malesuada proin libero nunc consequat interdum varius sit amet. Sed tempus urna et pharetra pharetra massa massa. Viverra vitae congue eu consequat ac felis donec. Nulla posuere sollicitudin aliquam ultrices sagittis orci. Pulvinar elementum integer enim neque volutpat ac tincidunt.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive map-img" src="~/images/Map.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 information-box">
            <h2>Information</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in egestas erat imperdiet sed. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Adipiscing elit pellentesque habitant morbi tristique. Odio tempor orci dapibus ultrices in iaculis nunc. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Egestas tellus rutrum tellus pellentesque eu. Pellentesque habitant morbi tristique senectus et netus et malesuada. Euismod elementum nisi quis eleifend quam adipiscing vitae. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Enim nunc faucibus a pellentesque sit.</p>
        </div>
        <div class="col-md-4 information-box">
            <h2>Annat</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in egestas erat imperdiet sed. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Adipiscing elit pellentesque habitant morbi tristique. Odio tempor orci dapibus ultrices in iaculis nunc. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Egestas tellus rutrum tellus pellentesque eu. Pellentesque habitant morbi tristique senectus et netus et malesuada. Euismod elementum nisi quis eleifend quam adipiscing vitae. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Enim nunc faucibus a pellentesque sit.</p>
        </div>
        <div class="col-md-4 information-box">
            <h2>Övrigt</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in egestas erat imperdiet sed. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Adipiscing elit pellentesque habitant morbi tristique. Odio tempor orci dapibus ultrices in iaculis nunc. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Egestas tellus rutrum tellus pellentesque eu. Pellentesque habitant morbi tristique senectus et netus et malesuada. Euismod elementum nisi quis eleifend quam adipiscing vitae. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Enim nunc faucibus a pellentesque sit.</p>
        </div>
    </div>
</div>



