@{
    ViewData["Title"] = "Hem";
}

<div class="container">
    <div class="row window-container parallax">
        <div class="col-md-12 ">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 information-box">
            <h2>Information</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in egestas erat imperdiet sed. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Adipiscing elit pellentesque habitant morbi tristique. Odio tempor orci dapibus ultrices in iaculis nunc. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Egestas tellus rutrum tellus pellentesque eu. Pellentesque habitant morbi tristique senectus et netus et malesuada. Euismod elementum nisi quis eleifend quam adipiscing vitae. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Enim nunc faucibus a pellentesque sit.</p>
        </div>
        <div class="col-md-4 information-box">
            <h2>Annat</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in egestas erat imperdiet sed. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Adipiscing elit pellentesque habitant morbi tristique. Odio tempor orci dapibus ultrices in iaculis nunc. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Egestas tellus rutrum tellus pellentesque eu. Pellentesque habitant morbi tristique senectus et netus et malesuada. Euismod elementum nisi quis eleifend quam adipiscing vitae. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Enim nunc faucibus a pellentesque sit.</p>
        </div>
        <div class="col-md-4 information-box">
            <h2>Övrigt</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in egestas erat imperdiet sed. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Adipiscing elit pellentesque habitant morbi tristique. Odio tempor orci dapibus ultrices in iaculis nunc. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Egestas tellus rutrum tellus pellentesque eu. Pellentesque habitant morbi tristique senectus et netus et malesuada. Euismod elementum nisi quis eleifend quam adipiscing vitae. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Enim nunc faucibus a pellentesque sit.</p>
        </div>
    </div>
</div>




