@model Strike.Models.Advertisement
@using Strike.Views.Shared;
@using Strike.Models;

    <div class="col-md-12 details-img">
        @{
            foreach (AdvertisementImage img in Model.AdvertisementImages)
            {
                <div style="display: inline-block">
                    <div>
                        <a class="grouped_elements" rel="group1" href="~/uploads/@img.Path"><img class="advertisement-img" src="~/uploads/@img.Path" /></a>
                    </div>
                    <div>
                        <a asp-action="DeleteImage" asp-route-id="@img.Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Radera</a>
                    </div>
                </div>
            }
        }
    </div>


