@model Strike.Models.User

@{
    ViewData["Title"] = "Delete";
}
<div class="blue margin-top container">
    <h3>Är du säker på att du vill ta bort ditt konto?</h3>
    <hr />
    <div class="row">
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Radera mitt konto</button>
        <a asp-action="Edit" asp-route-id="@Model.Id">Tillbaka till min sida</a>
    </form>
</div>
