@model Strike.Models.User

@{
    ViewData["Title"] = "Inställningar";
}

<div class="blue margin-top container">
    <h3>Inställningar</h3>
    <hr />
    <div class="row">
        <div class="col-md-6 ">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">Förnamn</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">Efternamn</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">E-postadress</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label">Telefonnummer</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-default center-block"><span class="glyphicon glyphicon-ok"></span>&nbsp;Spara</button>
                </div>
            </form>
            <div class="text-center">
                <span class="text-success">@ViewData["changed"]</span>
            </div>
        </div>
        <div class="col-md-6 my-page-password">
            <form asp-action="ChangePassword" method="post">
                <div class="form-group">
                    <label class="control-label">Nuvarande lösenord</label>
                    <input name="currentPassword" class="form-control" type="password"  />
                </div>
                <div class="form-group">
                    <label class="control-label">Nytt lösenord</label>
                    <input name="newPassword" class="form-control" type="password" minlength="8"  />
                </div>
                <div class="form-group">
                    <label class="control-label">Upprepa nytt lösenord</label>
                    <input name="repeatNewPassword" class="form-control" type="password" />
                </div>
                <div>
                    <button type="submit" class="btn btn-default center-block"><span class="glyphicon glyphicon-ok"></span>&nbsp;Spara</button>
                </div>
            </form>
            <div class="text-center">
                <span class="text-danger">@ViewData["error"]</span>
                <span class="text-success">@ViewData["success"]</span>
            </div>
        </div>
    </div>
</div>
<div class="blue container">
    <div class="row">
        <div class="form-group col-md-12">
            <form>
                <button class="btn btn-danger center-block" asp-action="Delete" asp-route-id="@Model.Id"><span class="glyphicon glyphicon-remove"></span>&nbsp;Radera mitt Strike konto</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
