@model Strike.Models.User

@{
    ViewData["Title"] = "Registrering";
}
<div class="container header-color margin-top">
    <h3>Registrera dig</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">Förnamn</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">Efternamn</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">E-postadress</label>
                    <input asp-for="Email" class="form-control" data-val-email="Ogiltig e-postadress." data-val-required="Fyll i din e-postadress." />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Lösenord</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrera" class="btn btn-default" />
                </div>
            </form>
            <p class="text-danger">@ViewData["error"]</p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
