/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.body-content { /*Gör denna ens något?*/
    padding-left: 15px;
    padding-right: 15px;
    min-height: 94vh;
}

/* Navbar */
.navbar {
    color: orange;
    background-color: #082F3D;
}

.navbar-inverse .navbar-brand {
    color: orange;
}

.navbar-inverse .navbar-text {
    color: orange;
}

.navbar-inverse .navbar-nav > li > a {
    color: orange;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: orange;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: orange;
}

/* Dropdown-menu in navbar*/

.dropdown-menu > li > a {
    color: orange;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: orange;
    background-color: #082F3D;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: white;
    background-color: #337ab7;
}
.dropdown-menu {
    background-color: #082F3D;
}

.brand-logo {
    height: 50px;
}

/* General styling*/
.blue {
    background-color: aliceblue;
}

.margin-top {
    margin-top: 100px;
}

/* Index */
.parallax {
    /* The image used */
    background-image: url(../images/hand.jpg);
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map-img {
    height: 700px;
}

.presentation-text {
    font-size: 17px;
}

.information-box {
    margin-top: 10px;
    border-style: groove;
    border-width: 2px;
}

/* Advertisement index*/
.search {
    float: right;
    margin-bottom: 20px;
}

.advertisement-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: 50% 50%;
}

.advertisement-seperator{
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    padding-top: 5px;
}

@media screen and (max-width: 992px) {
    .advertisement-img {
        width: 100px;
        height: 100px;
    }
}

.advertisement-index {
    cursor: pointer;
}

.advertisement-info-price{
    font-size: 20px;
}

.advertisement-details{
    padding-top: 7px;
}

/* Footer*/
.footer {
    text-align: center;
    background-color: #082F3D;
    color: orange;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    /*
            height: 5%;
    top: calc(100% - 5%);
            display: flex;
    align-self: flex-end;
            margin-top: calc(100% - 65px);

    position: absolute;
    bottom: 0;
*/
    width: 100%;
}

